/example/x64
/example/vtest/x64
/example/vtest/*.cmake
/example/vtest/CMakeFiles
/example/vwin/Debug
.vs
Debug
/example/valkyr.sln
/example/vkapp/*.sln
/example/vkapp/x64
/example/vkapp/*.cmake
/example/vkapp/CMakeFiles
build/*
x64
cmake_build/*
Makefile
*/Makefile
*.cmake
.ccls
.clangd
tags
compile_commands.json
CMakeFiles
bin
*CMakeCache*