[submodule "example/vkapp/external/glm"]
	path = example/vkapp/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "example/vkapp/external/glfw"]
	path = example/vkapp/external/glfw
	url = https://github.com/glfw/glfw.git
